BFF/.vs/BFF/DesignTimeBuild/.dtbcache.v2
BFF/.vs/BFF/FileContentIndex/2cfcf582-0402-476d-bde1-d980523721a4.vsidx
BFF/.vs/BFF/FileContentIndex/2f559f5a-1025-400f-8caf-4402451187ee.vsidx
BFF/.vs/BFF/FileContentIndex/81adbe0c-c435-4d59-b0c4-12d979445a7b.vsidx
BFF/.vs/BFF/FileContentIndex/4868aca6-fba2-4385-9cb4-6a07f5dd907b.vsidx
BFF/.vs/BFF/FileContentIndex/8822055c-07b0-4e4a-9a3a-d4ec2fe2b05d.vsidx
BFF/.vs/BFF/config/applicationhost.config
BFF/.vs/BFF/v17/.futdcache.v2
BFF/.vs/BFF/v17/.suo
BFF/.vs/BFF/v17/DocumentLayout.json
BFF/.vs/ProjectEvaluation/bff.metadata.v8.bin
BFF/.vs/ProjectEvaluation/bff.projects.v8.bin
BFF/.vs/ProjectEvaluation/bff.strings.v8.bin
BFF/bin/Debug/net8.0/appsettings.Development.json
BFF/bin/Debug/net8.0/appsettings.json
BFF/bin/Debug/net8.0/BFF.deps.json
BFF/bin/Debug/net8.0/BFF.dll
BFF/bin/Debug/net8.0/BFF.exe
BFF/bin/Debug/net8.0/BFF.pdb
BFF/bin/Debug/net8.0/BFF.runtimeconfig.json
BFF/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.Negotiate.dll
BFF/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
BFF/bin/Debug/net8.0/Microsoft.AspNetCore.Connections.Abstractions.dll
BFF/bin/Debug/net8.0/Microsoft.Extensions.Features.dll
BFF/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
BFF/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
BFF/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
BFF/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
BFF/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
BFF/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
BFF/bin/Debug/net8.0/Microsoft.OpenApi.dll
BFF/bin/Debug/net8.0/Newtonsoft.Json.dll
BFF/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
BFF/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
BFF/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
BFF/bin/Debug/net8.0/System.DirectoryServices.Protocols.dll
BFF/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
BFF/bin/Debug/net8.0/System.IO.Hashing.dll
BFF/bin/Debug/net8.0/Yarp.ReverseProxy.dll
BFF/bin/Debug/net8.0/runtimes/linux/lib/net8.0/System.DirectoryServices.Protocols.dll
BFF/bin/Debug/net8.0/runtimes/osx/lib/net8.0/System.DirectoryServices.Protocols.dll
BFF/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.DirectoryServices.Protocols.dll
BFF/keys/key-e0ef2a42-9afd-4c61-b2e6-487fb8124d37.xml
BFF/obj/BFF.csproj.nuget.dgspec.json
BFF/obj/BFF.csproj.nuget.g.targets
BFF/obj/project.assets.json
BFF/obj/project.nuget.cache
BFF/obj/Debug/net8.0/apphost.exe
BFF/obj/Debug/net8.0/AppSettingsSchema.json
BFF/obj/Debug/net8.0/BFF.AssemblyInfo.cs
BFF/obj/Debug/net8.0/BFF.AssemblyInfoInputs.cache
BFF/obj/Debug/net8.0/BFF.assets.cache
BFF/obj/Debug/net8.0/BFF.csproj.AssemblyReference.cache
BFF/obj/Debug/net8.0/BFF.csproj.BuildWithSkipAnalyzers
BFF/obj/Debug/net8.0/BFF.csproj.CoreCompileInputs.cache
BFF/obj/Debug/net8.0/BFF.csproj.FileListAbsolute.txt
BFF/obj/Debug/net8.0/BFF.csproj.Up2Date
BFF/obj/Debug/net8.0/BFF.dll
BFF/obj/Debug/net8.0/BFF.GeneratedMSBuildEditorConfig.editorconfig
BFF/obj/Debug/net8.0/BFF.genruntimeconfig.cache
BFF/obj/Debug/net8.0/BFF.MvcApplicationPartsAssemblyInfo.cache
BFF/obj/Debug/net8.0/BFF.MvcApplicationPartsAssemblyInfo.cs
BFF/obj/Debug/net8.0/BFF.pdb
BFF/obj/Debug/net8.0/BFF.sourcelink.json
BFF/obj/Debug/net8.0/CombinedComponentSchema.json
BFF/obj/Debug/net8.0/staticwebassets.build.json
BFF/obj/Debug/net8.0/ref/BFF.dll
BFF/obj/Debug/net8.0/refint/BFF.dll
BFF/obj/Debug/net8.0/staticwebassets/msbuild.build.BFF.props
BFF/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.BFF.props
BFF/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.BFF.props
