.apiws_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apiws_page_header {
    font-size: 130%;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid #64F86A;
}

.apiws_page_sections {
    display: flex;
    width: 100%;
    gap: 20px;
}

.apiws_page_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.apiws_page_section_header {
    font-size: 120%;
    font-weight: 500;
    background-color: #64F86A;
    padding: 10px;
    border-radius: 5px;
}

.apiws_page_section_component {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


.regular_component {
    width: 200px;
    border: #64F86A solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.regular_component_header {
    font-weight: 600;
    padding: 10px;
    border-bottom: 2px #333333 solid;
}

.regular_component_section {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.sockets_component {
    width: 200px;
    border: #64F86A solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.sockets_component_header {
    font-weight: 600;
    padding: 10px;
    border-bottom: 2px #333333 solid;
}

.sockets_component_section {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.sockets_component_section>div:first-child {
    font-size: 130%;
    font-weight: 600;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.sockets_component_section>div:last-child {
    font-size: 160%;
    font-weight: 600;
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .apiws_page_sections {
        flex-direction: column;
    }

    .apiws_page_section {
        width: 100%;
    }
}